@model WebApplication4.Models.Pagamento

@{
  ViewData["Title"] = "Edit";
}
<h1>Editar Pagamento</h1>

<hr />
<div class="row">
  <div class="col-md-4">
    <form asp-action="Edit">
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      <input type="hidden" asp-for="IdPagto" />
      <div class="form-group">
        <label asp-for="IdCli" class="control-label"></label>
        <select asp-for="IdCli" class="form-control" asp-items="ViewBag.IdCli" readonly></select>
        <span asp-validation-for="IdCli" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Cpf" class="control-label"></label>
        <input asp-for="Cpf" class="form-control" readonly />
        <span asp-validation-for="Cpf" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Contrato" class="control-label"></label>
        <input asp-for="Contrato" class="form-control" readonly />
        <span asp-validation-for="Contrato" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Parcela" class="control-label"></label>
        <input asp-for="Parcela" class="form-control" />
        <span asp-validation-for="Parcela" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Data" class="control-label"></label>
        <div class="form-group">
          <div class="input-group">
            <input type="text" class="form-control datepicker single-line" value="@Model.Data" id="Data" name="Data" style='width:160px;' minlength='10'>
            <span class="input-group-addon" data-valmsg-for='Data' data-valmsg-replace='true'>
              &nbsp;  <i class="fa fa-calendar"></i>
            </span>
          </div>
        </div>
        <span asp-validation-for="Data" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Valor" class="control-label"></label>
        <input asp-for="Valor" class="form-control" />
      </div>
      <div class="form-group">
        <label asp-for="Desconto" class="control-label">Desconto em %</label>
        <input asp-for="Desconto" class="form-control" />
        <span asp-validation-for="Desconto" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Situacao" class="control-label"></label>
        <select asp-for="Situacao" class="form-control">
        <option value="Devedor">Devedor</option>
        <option value="Quitado">Quitado</option>
        </select>
        <span asp-validation-for="Situacao" class="text-danger"></span>
      </div>
      <div class="form-group">
        <input type="hidden" asp-for="IdCli" />
        <input type="submit" value="Salvar" class="btn btn-primary btn-sm" /> |
        @if (ViewBag.IdCli.ToString() == "Microsoft.AspNetCore.Mvc.Rendering.SelectList")
        {
          <a href="javascript:history.back()" class="btn btn-outline-dark btn-sm">Voltar</a>
        }
        else
        {
          <a href="../../Cliente/Details/?id=@ViewBag.IdCli" class="btn btn-outline-dark btn-sm">Voltar</a>
        }


      </div>
    </form>
  </div>
</div>


@section Scripts {
  @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

  <script>
  $(function () {
    $(".datepicker").datepicker({
      format: 'dd/mm/yyyy',
      dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
      dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
      dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
      monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
      monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],

      language: "pt-br",
      keyboardNavigation: false,
      forceParse: true,
      autoclose: true,
      todayHighlight: true,
      showOn: "button",
      buttonImageOnly: true
    });
  });
  </script>

}
