@{
  Layout = null;
}

<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>Grupo Aval</title>
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
  <div class="row">
    <div class="col-sm-4">
      <img src="~/lib/img/aval.png" />
    </div>
    <div class="col-sm-8 text-right">
      <h2>Cadastro de Pagamento</h2>
    </div>
  </div>
</body>
</html>
