@model WebApplication4.Models.Cliente

@{
  ViewData["Title"] = "Create";
}
  <h1>Incluir Novo Cliente</h1>

<hr />
<div class="row">
  <div class="col-md-4">
    <form asp-action="Create">
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      <div class="form-group">
        <label asp-for="Nome" class="control-label"></label>
        <input asp-for="Nome" class="form-control" />
        <span asp-validation-for="Cpf" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Contrato" class="control-label"></label>
        <input asp-for="Contrato" class="form-control" />
        <span asp-validation-for="Contrato" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Cpf" class="control-label"></label>
        <input asp-for="Cpf" class="form-control" />
        <span asp-validation-for="Cpf" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Data" class="control-label"></label>
        <div class="form-group">
          <div class="input-group">
            <input type="text" class="form-control datepicker single-line" id="Data" name="Data" style='width:160px;' minlength='10'>
            <span class="input-group-addon">
              &nbsp;  <i class="fa fa-calendar" data-valmsg-for='Data' data-valmsg-replace='true'></i>
            </span>
          </div>
        </div>
        <span asp-validation-for="Data" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Valor_principal" class="control-label"></label>
        <input asp-for="Valor_principal" class="form-control" />
      </div>
      <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" /> |
        <a href="javascript:history.back()" class="btn btn-outline-dark">Voltar/Cancelar</a>

      </div>
    </form>
  </div>
</div>


@section Scripts {
  @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
  <script>
  $(function () {
    $(".datepicker").datepicker({
      format: 'dd/mm/yyyy',
      dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
      dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
      dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
      monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
      monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],

      language: "pt-br",
      keyboardNavigation: false,
      forceParse: true,
      autoclose: true,
      todayHighlight: true,
      showOn: "button",
      buttonImageOnly: true
    });
  });
  </script>

}
