@{
  ViewData["Title"] = "Home Page";
}

<div class="text-center">
  <img src="~/lib/img/aval.png" />
  <h1 class="display-4">Bem Vindo</h1>
  <p>Grupo Aval <a href="https://www.grupoaval.com.br/home.html">Há mais de 35 anos recuperando créditos</a>.</p>
</div>
